.works-section {
  padding: 25px;
  background-color: rgba(15, 31, 60, 0.5);
}

@media screen and (max-width: 600px) {
  .works-section {
    padding: 5px;
  }
}
.read-repo {
  font-size: 15px;
  position: absolute !important;
  bottom: 25px;
  right: 15px;
}

.works-title {
  font-size: 50px;
}

.works-subtitle {
  max-width: 550px;
  word-wrap: break-word;
  font-size: 30px;
  opacity: 70%;
}

.works-example li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
}

.works-example li a:hover {
  color: rgb(49, 190, 221);
}

.works-example li a:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  /* background: linear-gradient(90deg, rgb(89, 147, 167), rgb(188, 201, 206), rgb(89, 147, 167)) ; */
  background: -webkit-gradient(linear, left top, right top, from(rgb(188, 201, 206)), color-stop(rgb(89, 147, 167)), to(rgb(188, 201, 206)));
  background: linear-gradient(90deg, rgb(188, 201, 206), rgb(89, 147, 167), rgb(188, 201, 206));
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s;
  -webkit-animation-name: emphasize;
          animation-name: emphasize; /* have into - header_nav.css*/
}

.works-example {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-wrap: break-word;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-example::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.works-example::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.works-example::-webkit-scrollbar-track {
  background: transparent;
}

.opZero {
  opacity: 0%;
}

.element-animation {
  top: 100px;
}

.element-animation.element-show {
  -webkit-transition: top 1s, opacity 1.5s;
  transition: top 1s, opacity 1.5s;
  opacity: 90% !important;
  top: 0px;
}

.works-example > div {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  width: 40%;
  min-height: 600px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: #eee !important;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
}

.works-example > div > li {
  margin-top: 15px;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .works-example {
    display: block !important;
  }
  .works-example > div {
    width: 100%;
  }
}
.works-example > div > div {
  width: 100%;
  height: 300px;
}

.works-example > div > li a {
  color: rgb(221, 212, 212);
  font-size: 50px;
  text-shadow: -1px 0 #dacece, 0 1px black, 1px 0 black, 0 -1px #dccdcd;
}

.works-example > div > li > h2 {
  text-align: start;
  margin-top: 25px;
  color: rgb(163, 158, 158);
  font-size: 30px;
  text-shadow: -1px 0 #dacece, 0 1px black, 1px 0 black, 0 -1px #dccdcd;
}