{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/information/informationMin.css"%}'>

<link rel="icon" href='{% static "images/ava.png"%}' type="image/x-icon">

<style>
    .title-information {
        font-family: 'Press start 2P';
    }
</style>
{% endblock %}

{% block title %}
Informationn
{% endblock %}


{% block content %}
<section class="information">
    <div class="section-information">
        <div class="content-information">
            <h1 class="title-information">About me</h1>    
            <span class="about-text">
                <p>Hey there,</p>
                <p>My name's Kirill. I'm a programmer focused on graphics, animation, and interaction for web experiences and games.</p>
                <p>These days I mostly find myself immersed in JavaScript and WebGL for web development</p>
            </span>       
        </div>
        
        <img class="title-image" src='{% static "images/rudeface.png" %}' alt="">     
    </div>
    <div class="content-information">
        <h2>If you interested, my <a href="{% url 'works' %}">works</a></h2>
    </div>  

   
</section>

{% endblock %}


{% block scripts %}
<script src='{% static "js/aboutInfo/typing.js" %}'></script>
<script>
    var typingText = new typingTxt (
        selectEl = ".title-information",
        {
            textContent : [
                'hey',
                'I"m proggrammer',
                'I know - ',
                'HTML/css',
                'JS ( THREE.JS, jquery )',
                'SCSS and SASS  ❤️ ( I used on this project )'
            ],
            id : 1,
            delay : 125,
            backDelay : 25,
        }
    );
</script>

{% endblock %}     