{% extends 'main/base.html' %}
{% load static %}

{% block title %}Works{% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href='{% static "css/works/content.css "%}'>
<link rel="stylesheet" type="text/css" href='{% static "css/works/workExample.css "%}'>
<link rel="icon" href='{% static "images/ava.png"%}' type="image/x-icon">
{% endblock %}


{% block content %}
<section class="works-section">
    <h1 class="works-title">Works</h1>
    <h2 class="works-subtitle">My repositories for Works (I literally parse the site, so the description matches the Readme file in github </h2>

    <div class="works-example">
        {% for item in query_results %}
            <div class="element-animation">
                <div style="background: url('{{ item.images }}'); background-repeat: no-repeat;background-size: 100% 100%; "></div>
                <li>
                    <a target="_blank" href="https://github.com/grand3680/{{ item.name }}">{{ item.name }}</a>
                    <h2>{{ item.content }}</h2>
                    <a class="read-repo" href="repo-{{ item.id }}">read</a>
                </li>
            </div>
        {% endfor %}    
    </div>
</section>

{% endblock %}



{% block scripts %}
<script src='{% static "js/workes/animateBlock.js" %}'></script>
{% endblock %}    