.information {
    background-color: rgb(15, 31, 60, 0.5);
    padding: 15px;
}

.section-information {
    display: flex;
    justify-content: space-between;
}

.title-information {
    display: block !important;
    font-size: 25px;    
    min-width: 100px;
    min-height: 35px;
}


.title-image {
    display: block !important;
    width: 300px;
    height: 350px;
}

@media screen and (max-width: 700px) {
    .section-information {
        display: block;
    }

    .title-image {
        display: flex !important;
        text-align: start;
        margin-top: 10px;
    }
}